# common python files
*~
*#
*.pyc
*.sqlite
.idea
.venv
system/venv
node_modules

# local settings and media data
local.py
prod.py
var
media
bower_components

# deployment scripts and configs
system/conf/ssl
system/conf
deploy*
system/deploy*
postinstall*
