POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=abudget
POSTGRES_USER=abudget
POSTGRES_PASSWORD=-- update it to some random value --
PYTHONDONTWRITEBYTECODE=1
AB_SECRET_KEY=SomeSecretValueUnqiueForTheSetup - update it as well
# AB_DEBUG=True|False
