{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}{% trans 'Transactions' %}{% endblock %}

{% block content %}

    <div class='row'>
        <h1 class="page-header">{% trans 'Transactions' %}</h1>
    
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-plus-circle"></i> {% trans 'Enter transaction' %}
                </div>
                <div class="panel-body transaction-add-form">
                    <form action="{% url 'money:transaction_create' %}" method='post' class='form-horisontal' id='id_transaction_form'>
                        {% csrf_token %}
                        <input type='hidden' name='category' value='' id='id_selected_category' />

                        <div class="panel panel-default settings-panel">
                            <div class="panel-body">
                                <input type='text' name='date' value="{% now 'Y-m-d' %}" />
                            </div>
                        </div>

                        {% for toplevel_category in request.budget.get_toplevel_categories %}
                            <div class="btn-group" id='transaction_category_selector'>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ toplevel_category }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class='category_item' data-category-id='{{ category.id }}'><a href="#">{{ toplevel_category }}</a></li>
                                    {% for category in toplevel_category.get_subcategories_recursive_list %}
                                        <li class='category_item category_level_{{ category.level }}' data-category-id='{{ category.id }}'><a>{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}

                        <p class="form-control-static" id="selected-category-field">...</p>

                        <input class="numberinput form-control col-lg-6" id="id_amount" name="amount" placeholder="{% trans 'Amount' %}..." type="text">
                        {{ new_transaction_form.title|attr:"class:form-control"}}<br/>
                        <button class='btn btn-primary big-button' type='submit' id='id_transaction_form_submit'>{% trans 'Save transaction' %}</button>
                    </form>
                </div>
            </div>
            <!-- /.panel -->
        </div>

        <div class='col-lg-3'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-thumb-tack"></i> {% trans 'Stat' %}
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item row">
                            <span class="col-lg-8">{% trans 'Income' %}</span>
                            <span class="col-lg-4 righted">{{ stat_income|intcomma }}</span>
                        </li>
                        <li class="list-group-item row">
                            <span class="col-lg-8">{% trans 'Spent' %}</span>
                            <span class="col-lg-4 righted">{{ stat_spent|intcomma }}</span>
                        </li>
                        <li class="list-group-item row">
                            <span class="col-lg-8">{% trans 'Balance' %}</span>
                            <span class="col-lg-4 righted">{{ stat_balance|intcomma }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% include "money/filter_by_block.html" %}

        <div class="clearfix"></div>

        <div class='col-lg-6'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i> {% trans 'History' %}
                </div>
                <div class="panel-body">
                    {% for trans in transactions %}
                        <div class='transaction-item row'>
                            <i class='remove-transaction fa fa-times-circle' data-transaction-id='{{ trans.id }}'></i>
                            <span class='category col-lg-6'>{{ trans.category.get_title }}</span>
                            <span class='amount col-lg-3'>{{ trans.amount }}</span>
                            <span class='date col-lg-2'>{{ trans.date.date|naturalday }}</span>
                            <span class='title col-lg-12'>{{ trans.title }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        
    </div>
{% endblock %}