from .base import *  # NOQA

SECRET_KEY = 'nft*6s$x_cmngb&u9@1*vjvqcua(*8*zhne-ua3z=83z#d1x3b'

ALLOWED_HOSTS = ['specific.host.here']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'abudget',
        'USER': 'abudget',
        'PASSWORD': 'super-secure-password',
        'HOST': 'localhost',
        'PORT': '',
        'ATOMIC_REQUESTS': True,
    }
}
