{% extends 'base.html' %}
{% load i18n %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class='row'>
        <h1 class="page-header">Settings</h1>
    
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Transactions categories
                </div>
                <div class="panel-body">
                    <form action="{% url 'users:settings_category_add' %}" method='post' class='form-inline'>
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="id_category_name" placeholder="new category name" name='name' required>
                        </div>
                        <div class="form-group">
                            <select name='parent' class="form-control" >
                                <option value=''>(select parent category here or leave empty)</option>
                                {% for cat in request.budget.transactioncategory_set.all %}
                                    <option value="{{ cat.id }}">{{ cat }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">Add category</button>
                    </form>

                    <br />

                    <form action="#" method='post' class='form-inline' onSubmit='return confirm("Sure?");'>
                        {% csrf_token %}
                        <ul class="list-group">
                            {% for cat in request.budget.transactioncategory_set.all %}
                                <li class="list-group-item">
                                    {{ cat }}
                                    <button class="btn btn-danger btn-xs" type='submit' name='delete_category' value='{{ cat.id }}'>delete</button>
                                </li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
            </div>
            <!-- /.panel -->
        </div>

    </div>
{% endblock %}