{% extends 'base.html' %}
{% load humanize %}

{% block title %}Stat{% endblock %}

{% block content %}
    <div class='row'>
        <h1 class="page-header">Stat</h1>
    
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Spent by categories
                </div>
                <div class="panel-body">
                    <table class='table'>
                        <tr>
                            <td></td>
                            <th>Category</th>
                            <th>#count</th>
                            <th>#amount</th>
                        </tr>
                        {% for category in spent_by_category_report_data %}
                            {% if category.report_data.transactions_count > 0 %}
                                <tr class='spent_by_categories_table_row' data-morris-index="{{ forloop.counter0 }}" data-morris-display="true" data-morris-title="{{ category }}" data-morris-value="{{ category.report_data.transactions_amount }}">
                                    <td><label class='label label-info hideshow-label'>hide</label></td>
                                    <td class='title'>{{ category }}</td>
                                    <td class='righted'>{{ category.report_data.transactions_count }}</td>
                                    <td class='righted' class='value'>{{ category.report_data.transactions_amount|intcomma }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    
                </div>
            </div>
            <!-- /.panel -->
        </div>

        <div class='col-lg-3'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Spent by categories graph
                </div>
                <div class="panel-body">
                    <ul class="list-group spent-by-categories-totals">
                      <li class="list-group-item">
                        <span class="badge">{{ total_amounts.stat_income|intcomma }}</span>
                        Total income
                      </li>
                      <li class="list-group-item">
                        <span class="badge">{{ total_amounts.stat_spent|intcomma }}</span>
                        Total spent
                      </li>
                      <li class="list-group-item">
                        <span class="badge">{{ total_amounts.stat_balance|intcomma }}</span>
                        Total balance
                      </li>
                    </ul>
                    <div id='spent_by_categories_canvas'></div>
                </div>
            </div>
        </div>

        {% include "money/filter_by_block.tpl" %}

    </div>
{% endblock %}


{% block extra_js %}
    <script>
        $(document).bind('ready', function on_stat_page_load() {
            function prepare_spent_by_categories_data() {
                var data = [];
                $("tr.spent_by_categories_table_row").each(function() {
                    var $th = $(this);
                    var row = {
                        label: $th.data('morris-title'),
                        value: $th.data('morris-value'),
                    };
                    if ($th.data('morris-display') == true) {
                        data.push(row);
                    };
                });
                return data;
            };

            var spent_by_categories_chart = Morris.Donut({
                element: 'spent_by_categories_canvas',
                data: prepare_spent_by_categories_data(),
                resize: true
            });

            $("tr.spent_by_categories_table_row").bind('mouseover', function spent_by_categories_table_row_mouseover() {
                var $th = $(this);
                $th.parent().find('tr').css('background-color', '');
                spent_by_categories_chart.select($th.data('morris-index'));
                $th.css('background-color', 'whitesmoke');
            });

            $("tr.spent_by_categories_table_row .hideshow-label").bind('click', function spent_by_categories_table_row_click() {
                var $th = $(this);
                var $tr = $th.parent().parent();  // parent <tr>
                if ($tr.data('morris-display') == true) {
                    $tr.data('morris-display', false);
                    $tr.find('td').css('color', 'silver');
                    $th.text('show');
                } else {
                    $tr.data('morris-display', true);
                    $tr.find('td').css('color', 'black');
                    $th.text('hide');
                };
                spent_by_categories_chart.setData(prepare_spent_by_categories_data());
            });
        });
    </script>
{% endblock %}