.righted {
    text-align: right;
}

.transaction-add-form button[type='submit'] {
    display: block;
    width: 100%;
    clear: both;
}


.transaction-item {
    display: block;
    width: 100%;
    border-bottom: 1px silver dashed;
    margin-bottom: 5px;
}

.transaction-item .date {
    color: gray;
}
.transaction-item .category,
.transaction-item .amount {
    font-size: 120%;
}
.transaction-item .title {
    color: #555;
}

.transaction-item .remove-transaction {
    float: right;
    font-size: 15pt;
    color: #700;
    cursor: pointer;
}