@media (min-width: 200px) {
    div#page-wrapper {
        padding: 0px 10px;
    }
}

@media (min-width: 700px) {
    div#page-wrapper {
        padding: 0px 40px;
    }
}

#page-wrapper {
    padding: 0px 40px;
}

.righted {
    text-align: right;
}

.big-button {
    display: block;
    width: 100%;
    clear: both;
}


.transaction-item {
    display: block;
    width: 100%;
    border-bottom: 1px silver dashed;
    margin-bottom: 5px;
}

.transaction-item .date {
    color: gray;
    white-space: nowrap;
    text-align: right;
}
.transaction-item .category,
.transaction-item .amount {
    font-size: 120%;
}
.transaction-item .amount {
    color: #555;
    text-align: right;
}
.transaction-item .title {
    color: #555;
}

.transaction-item .remove-transaction,
.transaction-item .remove-income-transaction {
    float: right;
    font-size: 15pt;
    color: #700;
    cursor: pointer;
}

.transaction-add-form .show_settings_panel {
    float: right;
}

.transaction-add-form .settings-panel {
    display: block;
    width: 150px;
    float: right;
}

.transaction-add-form .settings-panel .panel-body {
    padding: 5px;
}

.transaction-add-form .settings-panel input {
    width: 100%;
}

.spent-by-categories-totals .badge {
    font-size: 12pt;
    color: black;
    background-color: whitesmoke;
}

.category_level_1 {
    padding-left: 0px;
}
.category_level_2 {
    padding-left: 20px;
}
.category_level_3 {
    padding-left: 40px;
}
.category_level_4 {
    padding-left: 60px;
}
.category_level_5 {
    padding-left: 80px;
}


.stat_category_details {
    display: none;
}

.stat-transaction-row:hover {
    background-color: #eee;
}

.stat-transaction-row .date {
    display: inline;
    padding-right: 20px;
}