.righted {
    text-align: right;
}

.big-button {
    display: block;
    width: 100%;
    clear: both;
}


.transaction-item {
    display: block;
    width: 100%;
    border-bottom: 1px silver dashed;
    margin-bottom: 5px;
}

.transaction-item .date {
    color: gray;
    white-space: nowrap;
}
.transaction-item .category,
.transaction-item .amount {
    font-size: 120%;
}
.transaction-item .title {
    color: #555;
}

.transaction-item .remove-transaction {
    float: right;
    font-size: 15pt;
    color: #700;
    cursor: pointer;
}

.transaction-add-form .show_settings_panel {
    float: right;
}

.transaction-add-form .settings-panel {
    display: block;
    width: 300px;
    float: right;
}

.transaction-add-form .settings-panel .panel-body {
    padding: 5px;
}

.transaction-add-form .settings-panel input {
    width: 100%;
}